@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000;
}

img{
    object-fit: cover;
    object-position: top;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .logo a {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

nav .logo a:hover{
    color: #7700ff;
    background-color: rgba(128, 128, 128, 0.39);
    border-radius: 10px;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.nav-link {
    margin-right: 20px;
}

nav .nav-link a {
    transition: color 0.3s ease;
    color: #000000;
}

nav .nav-link a:hover,
nav .nav-link a.selected {
    color: #7700ff;
    background-color: rgba(128, 128, 128, 0.37);
    border-radius: 5px;
}

.menu-icon {
    color: #000000;
    font-size: 24px;
    display: none;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        top: 0;
    }

    nav ul {
        padding: 10px;
        gap: 1rem;
        margin-left: 10px;
        justify-content: center;
        width: 100%;
    }

    nav ul.hidden {
        display: none;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }
}

.main {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: calc(100vh - 80px);
}

.main .info h1{
    font-size: 44px;
    margin-bottom: 40px;
}

.main .info p{
    font-size: 16px;
    margin-bottom: 45px;
    width: 100%;
}

.main img{
    max-width: 50%;
    width: 400px;
    height: 400px;
    border-radius: 140px;
}

@media only screen and (max-width: 768px) {
    .main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .main .info h1 {
        text-align: left;
        display: flex;
        margin-top: 100px;
    }

    .info p {
        display: flex;
        text-align: left;
        margin-right: 20px;
    }

    .main img {
        display: flex;
        margin-top: 310px;
        max-width: 50%;
        height: auto;
        transform: translateX(-40px);
    }

    .dropdown-menu {
        transition: all ease-in-out 3s;
        position: static; 
        display: none;
        margin-left: -50px; 
        background-color: #fff;
        box-shadow: none;
        border: none;
        margin-top: 0;
        width: 100%;
    }
    

    .dropdown-menu li {
        border-bottom: 1px solid #ccc;
    }

    .dropdown-menu li:last-child {
        border-bottom: none; 
    }

    .dropdown-menu li a {
        padding: 10px 15px;
        display: block;
        color: #333;
        text-decoration: none;
        text-align: center;
    }

    .dropdown-menu.show {
        display: block;
    }
}

#menu-list .nav-link.has-dropdown .dropdown-menu {
    display: none; 
    position: absolute;
    background-color: #fff;
    max-width: 160px;
    transition: all 0.5s ease-out;
}

#menu-list .nav-link.has-dropdown:hover .dropdown-menu {
    display: block;
}

#menu-list .dropdown-menu li {
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
}

#menu-list .dropdown-menu li:last-child {
    border-bottom: none; 
}

#menu-list .dropdown-menu li a {
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    color: #333;
    text-decoration: none;
}

#menu-list .dropdown-menu li a:hover {
    color: #7700ff;
    background-color: rgba(128, 128, 128, 0.459);
}
